<div class="container pb-5 mt-5">
    <div class="row">
        <div class="col p-0 footer">
            <div class="footer-inside p-5">
                <div>LONDON EVENTS - DISCOVER THE BRITISH CAPITAL</div>

                {# ### Add social media icons from FontAwesome ### #}

                <div class="social-media mt-2">
                    <a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp-square mx-2"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square mx-2"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square mx-2"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square mx-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>