<div class="container pb-5 mt-5">
    <div class="row">
        <div class="col p-0 footer">
            <div class="footer-inside p-3">
            lkdfj
            </div>        
        </div>
    </div>
</div>