{# ### Bootstrap navbar ### #}
<div class="container sticky-top p-0">
<nav class="navbar navbar-expand-md navbar-light mb-5 p-1">
  <div class="container">
    <a class="navbar-brand p-0" href="#">LONDON</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto p-0">
        <li class="nav-item">
          
          {# ### Route to index.html.twig ### #}

          <a href="/" class="nav-link active btn btn-nav" aria-current="page">Home</a>
        </li>
        <li class="nav-item">

          {# ### Route to create.html.twig ### #}

          <a href="/create" class="nav-link btn btn-nav">Create</a>
        </li>
        <li class="nav-item">

          {# ### Route to /movies -> index.html.twig ### #}

          <a href="/movies" class="nav-link btn btn-nav">Movies</a>
        </li>
        <li class="nav-item">

          {# ### Route to /sports -> index.html.twig ### #}

          <a href="/sports" class="nav-link btn btn-nav">Sports</a>
        </li>
        <li class="nav-item">

          {# ### Route to /music -> index.html.twig ### #}

          <a href="/music" class="nav-link btn btn-nav">Music</a>
        </li>
        <li class="nav-item">

          {# ### Route to /shows -> index.html.twig ### #}

          <a href="/shows" class="nav-link btn btn-nav">Shows</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>