{# ### Bootstrap navbar ### #}
<div class="container sticky-top p-0">
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">LONDON</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          
          {# ### Route to index.html.twig ### #}

          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">

          {# ### Route to create.html.twig ### #}

          <a class="nav-link" href="/create">Create</a>
        </li>
        <li class="nav-item">

          {# ### Route to /movies -> index.html.twig ### #}

          <a class="nav-link" href="/movies">Movies</a>
        </li>
        <li class="nav-item">

          {# ### Route to /sports -> index.html.twig ### #}

          <a class="nav-link" href="/sports">Sports</a>
        </li>
        <li class="nav-item">

          {# ### Route to /music -> index.html.twig ### #}

          <a class="nav-link" href="/music">Music</a>
        </li>
        <li class="nav-item">

          {# ### Route to /shows -> index.html.twig ### #}

          <a class="nav-link" href="/shows">Shows</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>