{% extends 'base.html.twig' %}

{% block body %}

    <div class="container content p-3">
        <div class="card p-3">
            <h2 class="page-header">Add Event</h2>

            {{form_start(form)}}
            {{form_widget(form)}}
            {{form_end(form)}}

            <a href="/"><button class="btn btn-danger">Home</button></a>
        </div>
    </div>

{% endblock %}