{% extends 'base.html.twig' %}
{% block body %}
    <hr>
    <h2 class="page-header">{{todo.name}}</h2>
    <img src="{{todo.image}}">
    <ul class="list-group">
        {# <li class="list-group-item">Due: <strong> {{todo.dueDate|date('F j, Y, g:i a')}} </strong> </li> #}
    </ul>
    <p>
        {{todo.description}}
    </p><br>
    <a class="btn btn-default" href="/">Home</a>
{% endblock %}